<div class="container-fluid">
  <div class="relative appBase" *ngFor="let itemv of item.values; let i = index">
   <h4> {{ itemv.name }}</h4>
    <div class="el-divider">
      <div class="el-divider-left-text">
        <a *ngIf="itemv.portfolio" href="itemv.portfolio" target="_blank" rel="noopener">
          {{ itemv.portfolio }}
        </a>
        <a *ngIf="itemv.link && !itemv.portfolio" href="itemv.link" target="_blank" rel="noopener">
          {{ itemv.link }}
        </a>
      </div>
    </div>
  </div>
</div>
