<mat-toolbar color="primary" class="mat-elevation-z6">
  
  <button mat-button > Ganesan Karuppaiya</button>
  <button mat-button [matMenuTriggerFor]="menu"><i class="material-icons"> more_vert</i></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let item of list; let i = index"
    > {{ item.type }}</button>
  </mat-menu>
</mat-toolbar>
<div *ngFor="let item of list; let i = index" class="section" id="item.type">
  <div class="container">
  <div class="row">
      <div class="col-12-12 col-3 col-left appBase">
        <div [ngSwitch]="item.type">
          <div *ngSwitchCase="'intro'"></div>
          <div *ngSwitchCase="'contacts'">
            <h4>Contact</h4>
              <p>Way to reach</p>
          </div>
          <div *ngSwitchCase="'social'">
            <h4> Social</h4>
            <p>Kind of active</p>
          </div>

          <div *ngSwitchDefault>
            <h4>{{ item.name }}</h4>
            <p>{{ item.desc }}</p>
          </div>
        </div>
      </div>
      <div class="col-12-sm col-9 col-right">
        <div [ngSwitch]="item.type">
          <div *ngSwitchCase="'intro'">
            <intro [item]=item></intro> 
          </div>
          <div *ngSwitchCase="'contacts'">
            <gridlink [item]="item"></gridlink>
          </div>
          <div *ngSwitchCase="'social'">
            <gridlink [item]="item"></gridlink>
          </div>
          <div *ngSwitchCase="'profile'">
            <gridlink [item]="item"></gridlink>
          </div>
          <div *ngSwitchCase="'education'">
            <education [item]="item"></education>
          </div>
          <div *ngSwitchCase="'awards'">
            <education [item]="item"></education>
          </div>
          <div *ngSwitchCase="'experience'">
            <experience [item]="item"></experience>
          </div>
          <div *ngSwitchCase="'projects'">
            <experience [item]="item"></experience>
          </div>
          <div *ngSwitchCase="'otherprojects'">
            <linklist [item]="item"></linklist>
          </div>
          <div *ngSwitchCase="'expertise'">
            <expertise [item]="item"></expertise>
          </div>
          <div *ngSwitchCase="'skills'">
            <skills [item]="item"></skills>
          </div>
          <div *ngSwitchDefault>
            <h4>{{ item.name }}</h4>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
